nav .mainMenu {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
@media (max-width: 431px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #232a3b;
    transition: top 0.4s ease;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: flex;
    position: absolute;
    right: 0px;
    top: 5px;
    /* left: 0px; */
    bottom: 0px;
    z-index: 1;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: #44c184;
    font-size: 1.6rem;
  }
}
