/* Universal Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #44c184;
}

.line-one {
  width: 25%;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid black;
}

/* Link CSS */

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* Main CSS */

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  position: relative;
  /* padding-top: 75px; */
}

h1 {
  font-family: audiowide;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.7em;
  margin: 10px 0;
}

/* Header CSS */

#links-a {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  list-style-position: outside;
  position: relative;
  left: 150px;
}
nav {
  background-color: #232a3b;
  color: #fff;
  font-size: 1.4em;
  padding: 20px;
  text-transform: uppercase;
}

nav li {
  list-style-type: none;
  padding: 5px;
}

header p {
  /* background: #232a3b url("../images/Speciality-Certs_Feature.png") no-repeat
    center center/cover; */
  color: #fff;
  height: 300px;
  font-family: audiowide;
  font-size: 2.2em;
  padding: 100px 50px;
  text-align: center;
}

/* Call to Action CSS */

.call-to-action {
  align-items: center;
  background: #232a3b;
  color: #fff;
  display: flex;
  height: 80px;
  justify-content: center;
}

.call-to-action h2 {
  text-transform: uppercase;
}

.call-to-action p {
  align-self: center;
  background-color: #44c184;
  border-radius: 2px;
  margin-left: 20px;
  padding: 5px 8px;
  transition: margin-top 0.5s;
}

.call-to-action p:hover {
  margin-top: -7px;
  transition: margin-top 0.5s;
}

/* Container CSS */

.container {
  margin: 0 auto 50px;
  text-align: center;
  width: 90%;
}

.container-2 {
  /* margin: 0 auto 50px; */
  text-align: center;
  width: 100%;
}

#b-2::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/images/sun-1.jpg) no-repeat fixed center/cover;
  opacity: 0.6;
}

/*Section 1 CSS */

.section-1 {
  margin-top: 50px;
}

.section-title-content {
  margin-top: 30px;
}

.section-title-pass {
  margin-top: 10px;
}

/*Section 2 CSS */

.section-2 {
  background-color: #c0c5ce;
  padding: 40px 0 20px;
}

.section-2-title,
.section-2-content {
  color: black;
}

.section-2-content {
  margin-bottom: 20px;
}

.section-2 .item-1,
.section-2 .item-2,
.section-2 .item-3 {
  margin-top: 10px;
  transition: transform 0.3s;
}

.section-2 .item-1:hover,
.section-2 .item-2:hover,
.section-2 .item-3:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.pricing-title,
.pricing-title-big {
  color: #fff;
  background-color: #343d46;
  font-size: 1.2em;
  padding: 10px;
  transition: background-color 0.5s;
}

.pricing-title:hover {
  background-color: #44c184;
  transition: background-color 0.5s;
}

.pricing-title-big {
  background-color: #44c184;
  font-size: 1.4rem;
}

.pricing-content {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.sign-up-container {
  color: #44c184;
  padding: 20px;
}

.sign-up {
  border: 1px solid #44c184;
  border-radius: 5px;
  padding: 10px 100px;
  transition: background-color 0.5s, color 0.5s;
}

.sign-up:hover {
  background-color: #44c184;
  color: #fff;
  transition: background-color 0.5s, color 0.5s;
}

/* Contact Form CSS */

/* .input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  display: block;
  margin: 10px;
  padding: 5px;
  text-shadow: 0;
  width: 100%;
} */

.section-3 {
  padding-top: 80px;
  /* padding-top: 30px; */
}

.contact-button {
  border: 1px solid #44c184;
  margin-left: 10px;
  padding: 10px;
  transition: background-color 0.5s, color 0.5s;
  width: 15%;
  background-color: #44c184;
  color: #fff;
}

.contact-button:hover {
  background-color: #045a32;
  color: #fff;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
}

/* Footer CSS */

.main-footer {
  background-color: #232a3b;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.main-footer p {
  margin-bottom: 10px;
}

.social-icon {
  font-size: 1.2em;
  margin-bottom: 40px;
  margin-right: 12px;
  transition: color 0.5s;
}

.social-icon:hover {
  color: #44c184;
  transition: color 0.5s;
}

.contact-icon {
  margin-right: 10px;
}

.contact-info {
  line-height: 0;
}

.hello {
  color: #44c184;
  font-size: 1.4em;
  font-weight: 600;
}

/* Sign Up Form CSS */

.join-now-container {
  margin: 0 auto;
  width: 100%;
}

.sign-up-form {
  color: #000;
  margin: 50px 0;
  text-align: left;
}

.sign-up-form h2 {
  margin-bottom: 40px;
  text-align: center;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.2em;
  margin-bottom: 30px;
}

/* input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  background-color: rgba(227, 228, 230, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  padding: 10px;
  width: 100%;
} */

.number {
  background-color: #44c184;
  border-radius: 50%;
  color: #fff;
  margin: 20px 10px 0 0;
  padding: 10px 16px;
}

.block-label {
  display: block;
  margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 10px;
}

button {
  background-color: #44c184;
  border: 1px solid #44c184;
  color: #fff;
  cursor: pointer;
  margin-top: 40px;
  padding: 15px;
  width: 100%;
}

button:hover {
  background-color: #045a32;
}
/* Gyms CSS */

.gyms-title {
  font-size: 1.8em;
  margin-top: 2em;
}

.gyms-container img {
  height: 300px;
  max-width: 100%;
}

.gyms-item-1,
.gyms-item-2,
.gyms-item-3 {
  margin: 50px 0;
  transition: transform 0.5s;
}

.gyms-item-1:hover,
.gyms-item-2:hover,
.gyms-item-3:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.gyms-content {
  background-color: #353839;
  color: #fff;
  margin: -7px auto 0;
  padding: 15px;
  max-width: 397px;
}

.gyms-content h3 {
  margin-top: 0;
}

/* Trainer Page CSS */

#trainer-container {
  /* background: #fff url("../images/training-background.jpg") no-repeat center; */
  /* background-size: cover; */
  padding: 5%;
  background: url(/images/gym-4.jpg) no-repeat center center/cover;
}

#trainer-container section {
  transition: transform 0.5s;
}

#trainer-container section:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

#trainer-container h2 {
  color: #fff;
  margin-bottom: 5%;
  text-align: center;
}

.trainer-profile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto 50px;
  width: 70%;
}

.trainer-profile img {
  max-width: 100%;
}

.trainer-profile-content {
  background-color: #333;
  padding: 5%;
  text-align: center;
  color: #fff;
}

/* Other CSS */

.title-color,
.fas {
  color: #44c184;
}

.fas {
  margin-top: 40px;
}

.back-to-top {
  background-color: #232a3b;
  border-radius: 50%;
  bottom: 30px;
  height: 40px;
  padding: 6px 17px;
  position: fixed;
  right: 30px;
  width: 40px;
}

.back-to-top i {
  margin-left: -3px;
  margin-top: -0px;
  transition: background-color 0.5s, border 0.5s;
}

.back-to-top:hover {
  background-color: #fff;
  border: 1px solid #232a3b;
  transition: background-color 0.5s, border 0.5s;
}

/* Animation CSS   */
.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#delay-1 {
  animation-delay: 200ms !important;
}

#delay-2 {
  animation-delay: 400ms !important;
}

#delay-3 {
  animation-delay: 600ms !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media Queries */

/* Header CSS */

@media only screen and (min-width: 769px) {
  .social-menu {
    display: block;
  }
  #arrow {
    color: red !important;
    text-align: center !important;
    font-size: 3rem !important;
    position: absolute;
    margin-bottom: 100px;
  }

  #arrow:hover {
    color: black !important;
  }

  .main-header p {
    color: #44c184;
    opacity: 1;
  }

  .main-header ul li {
    color: #fff;
  }
  /* Underline Stroke */
  nav.stroke ul li a {
    position: relative;
  }
  nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #fff;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all 0.5s;
  }

  nav ul li a:hover {
    color: #44c184;
  }

  nav ul li a {
    display: block;
    padding: 3px;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }
  /* End of Stroke */
  .main-header nav,
  .main-header ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
  }

  .main-header nav {
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .main-header ul {
    margin-right: 10%;
  }
  .main-header h1 {
    align-self: center;
    margin: 0 auto 0 10%;
  }
  .main-header li {
    margin-right: 30px;
  }
  /* Container CSS */
  .container {
    width: 80%;
  }
  .flex-container {
    display: flex;
  }
  /* Section 1 */
  .item-1,
  .item-2,
  .item-3 {
    flex-grow: 1;
  }
  .section-1 .item-2 {
    margin: 0 20px;
  }
  /* Section 2 CSS */
  .section-2 .item-2 {
    margin: 0 20px;
  }
  .sign-up {
    padding: 10px 50px;
  }
  /* Section 3 CSS */
  .section-3 .item-2 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  .section-3 .item-2 .input {
    flex-grow: 0.7;
    margin-top: 20px;
  }
  /* Main Footer CSS */
  .main-footer {
    text-align: left;
  }
  .main-footer .item-1,
  .main-footer .item-2 {
    flex: 1;
  }
  .main-footer .item-1 {
    flex: 2 40%;
  }
  .copyright {
    text-align: center;
  }
  /* Sign Up Form */
  .join-now-container {
    width: 70%;
  }
  /* Gyms CSS */
  .gyms-title {
    font-size: 2em;
  }
  .gyms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gyms-item-1,
  .gyms-item-2,
  .gyms-item-3 {
    flex-grow: 1;
  }
  /* Trainers Page CSS */
  .trainer-profile {
    flex-direction: row;
  }
  .trainer-profile img {
    height: 250px;
  }
  .trainer-profile-content {
    height: 250px;
  }
  .reverse {
    flex-direction: row-reverse;
  }
}

/* Mobile Landscape Mode CSS */

@media only screen and (min-width: 500px) and (orientation: landscape) {
  .social-menu {
    display: block;
  }
  .main-header {
    margin: 0 !important;
    padding: 0 !important;
  }

  #arrow {
    color: red;
  }

  .main-header nav,
  .main-header ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
  }
  .main-header nav {
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .main-header ul {
    margin-right: 10%;
  }
  .main-header h1 {
    align-self: center;
    margin: 0 auto 0 10%;
  }
  .main-header li {
    margin-right: 30px;
  }
  /* Container CSS */
  .container {
    width: 80%;
  }
  .flex-container {
    display: flex;
  }
  /* Section 1 */
  .item-1,
  .item-2,
  .item-3 {
    flex-grow: 1;
  }
  .section-1 .item-2 {
    margin: 0 20px;
  }
  /* Section 2 CSS */
  .section-2 .item-2 {
    margin: 0 20px;
  }
  /* Section 3 CSS */
  .section-3 .item-2 {
    /* display: flex; */
    flex-direction: column;
    margin-left: 40px;
  }
  .section-3 .item-2 .input {
    flex-grow: 0.7;
    margin-top: 20px;
  }
  /* Main Footer CSS */
  .main-footer {
    text-align: left;
  }
  .main-footer .item-1,
  .main-footer .item-2 {
    flex: 1;
  }
  .main-footer .item-1 {
    flex: 2 40%;
  }
  .copyright {
    text-align: center;
  }
  .contact-info {
    line-height: 1.5;
  }
  /* Sign Up Form */
  .join-now-container {
    width: 70%;
  }
  /* Gyms CSS */
  .gyms-title {
    font-size: 2em;
  }
  .gyms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gyms-item-1,
  .gyms-item-2,
  .gyms-item-3 {
    flex-grow: 1;
  }
  /* Trainers Page CSS */
  .trainer-profile {
    flex-direction: row;
  }
  .trainer-profile img {
    height: 250px;
  }
  .trainer-profile-content {
    height: 250px;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  #train-1::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/images/t-1jpg.jpg) no-repeat center center/cover;
    opacity: 0.4;
  }
}

@media only screen and (min-width: 1024px) {
  .social-menu {
    display: block;
  }
  .main-header p {
    font-size: 3em;
    padding: 20%;
  }

  #arrow {
    color: red !important;
    text-align: center !important;
    font-size: 3rem !important;
    position: absolute;
    margin-bottom: 100px;
  }
  .call-to-action h2 {
    margin-right: 5%;
  }
  .call-to-action p {
    font-size: 1.3em;
    width: 100px;
  }
  .sign-up {
    padding: 15px 150px;
  }
  /* Sign Up Form */
  .join-now-container {
    width: 40%;
  }
  /* Trainer CSS */
  .trainer-profile {
    width: 50%;
  }
  .trainer-profile-content {
    padding-top: 8%;
  }
}

@media only screen and (max-width: 480px) {
  /* #train-1::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/images/t-1jpg.jpg) no-repeat center center/cover;
    opacity: 0.4;
  } */
  .social-menu {
    display: none;
  }
  #arrow {
    color: red;
    font-size: 50px;
  }
  #train-1 p {
    font-size: 50px;
  }
  #nav-bar {
    display: flex;
    flex-direction: column;
  }
  #train-1 {
    text-align: center;
    font-size: 2rem;
    opacity: 0.9;
    box-sizing: border-box;
  }

  #train-1 p {
    color: #232a3b;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  .call-to-action {
    font-size: 12px;
  }

  #links-a {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 0;
    /* display: none; */
  }

  nav h1 a {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  #btn-pass {
  }
}
/* Video css */
header#all-3 {
  position: relative;
  background-color: #fff;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

/* .container-b {
  background: url(/images/gym-locations.jpg) no-repeat center center/cover;
  font-weight: bold;
  color: #44c184;
  background-position: center bottom;
  height: 200px;
  width: auto;
  opacity: 0.5;
}

#gym-p {
  text-align: center;
  padding-top: 100px;
} */

/* .my-div {
  position: relative;
  z-index: 1;
  text-align: center !important;
  padding-top: 100px !important;
  font-size: 4rem !important;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #44c184 !important;
}

.my-div:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/images/gym-locations.jpg) no-repeat center center/cover;
  opacity: 0.4;
  height: 200px;
  width: auto;
  background-position: bottom;
} */

#my-div {
  /* background: url(/images/pool-1.jpg) no-repeat center center/cover; */
  text-align: left;
  color: #343d46;
  font-size: 5.5rem;
  opacity: 0.9;
  /* padding-right: 100px;
  position: relative;
  top: 8px;
  left: 16px; */
  box-sizing: border-box;
  /* padding-left: 200px;
  padding-top: 200px; */
  padding-top: 150px;
  padding-left: 100px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

#my-div::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/images/pool-1.jpg) no-repeat center center/cover;
  opacity: 0.5;
}

.gym-green {
  color: #44c184;
}

.york-1 {
  padding-left: 60px !important;
  font-size: 5.5rem;
}
header video {
  /* display: block; */
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
video {
  max-width: 100% !important;
  height: auto !important;
  object-fit: cover;

  /* display: block; */
}
/* @media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;
  }
  header video {
    display: none;
  }
} */

/* UPDATED CSS/WEBSITE */

.new-location {
  background: url(/images/pool-1.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 100%;
}

.new-location p {
  margin: 0;
}

.btn-underline {
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
  display: inline-block;
  font-size: 20px;
  padding: 15px 40px;
  border: 2px solid #333;
  background-color: #44c184;
  /* color: #fff !important; */
  cursor: pointer;
  margin-bottom: 50px auto !important;
  border-radius: 50px;
  animation: shadow-pulse 2s infinite;
  text-transform: uppercase;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  /* background: transparent; */
  color: #fff !important;
  /* border: none; */
  font-size: 20px;
  letter-spacing: 2px;
  /* padding: 25px 80px; */
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  /* animate and time the transitions*/
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.8;
}
.btn-underline:hover {
  background-color: rgb(3, 105, 71);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 1.2s;
}

/* .btn-underline:hover:before {
  top: 0;
  left: 0;
} */

.btn-center {
  margin: 0;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* .train-1 {
  background: url(/images/t-1jpg.jpg) no-repeat center center/cover;
  opacity: 0.9;
} */

/* .train-1::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/images/t-1jpg.jpg) no-repeat center center/cover;
  opacity: 0.5;
} */

#train-1 {
  text-align: center;
  font-size: 2rem;
  opacity: 0.9;
  box-sizing: border-box;
}

#train-1 p {
  color: #232a3b;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* #train-1::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/images/t-1jpg.jpg) no-repeat center center/cover;
  opacity: 0.4;
} */

/* ICONS EDIT */
.social-menu {
  opacity: 0.7;
}
.social-menu ul {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
  padding-top: 35px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #0077b5;
}

/* Current Page */
#nav-bar ul li a.active-page {
  color: #44c184;
}

/* Contact */

/* #contact-main {
  background: url(/images/pexels-andrea-piacquadio-3757941.jpg) no-repeat center
    center/cover;
  margin-top: 80px;
}

#contact-main p {
  text-align: center;
  color: #fff;
}

#contact-main::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/images/pexels-andrea-piacquadio-3757941.jpg) no-repeat center
    center/cover;
  opacity: 0.4;
} */

/* #contact-main {
  text-align: center;
  font-size: 1rem;
   opacity: 0.9; 
  box-sizing: border-box;
   background: url(/images/fitness\ club\ front\ desk.jpg) no-repeat center
    center/cover; 

   width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative; 
  opacity: 0.8;
}

#contact-main p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  opacity: 1;
  font-size: 50px;
  text-align: center;
} */

/* #contact-main::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;/* #contact-main::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/images/fitness\ club\ front\ desk.jpg) no-repeat center
    center/cover;
  opacity: 0.5;
  width: 100%;
  height: auto;
  padding-bottom: 680px;
  padding-top: 100px;
} */
/* #contact-main::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/images/fitness\ club\ front\ desk.jpg) no-repeat center
    center/cover;
  opacity: 0.5;
  width: 100%;
  height: auto;
  padding-bottom: 680px;
  padding-top: 100px;
}
  left: 0;
  right: 0;
  background: url(/images/fitness\ club\ front\ desk.jpg) no-repeat center
    center/cover;
  opacity: 0.5;
  width: 100%;
  height: auto;
  padding-bottom: 680px;
  padding-top: 100px;
} */

header {
  vertical-align: top !important;
  margin: 0 !important;
  padding: 0 !important;
}

#contact-img {
  display: block;
  height: 50vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 100%;
  opacity: 0.4;
}

#join-img {
  display: block;
  height: 70vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 35%;
  opacity: 0.7;
}

.container-j {
  position: relative;
  text-align: center;
  color: white;
  font-size: 4rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  height: 100%;
}

.container-c {
  position: relative;
  text-align: center;
  color: white;
  font-size: 4rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  height: 100%;
}

/* .p-c p {
  display: inline;
} */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #232a3b;
  font-size: 5rem;
}

header.container-c {
  margin: 0 !important;
  padding: 0 !important;
}

/* .join-img {
  background: url(/images/fitness\ club\ front\ desk.jpg) no-repeat center
    center/cover;
} */

#btn-pass {
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 5px;
  /* padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px; */
  padding: 5px 15px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
}
